Node-RED Flows/ble2mqtt2influx.json
[{"id":"e184de2d.f9883","type":"tab","label":"BLE2MQTT2INFLUX","disabled":false,"info":""},"id":"211dbd92.7c49e2","type":"function","z":"e184de2d.f9883","name":"TLM","func":"var tokens  = msg.topic.split(\"/\");\nmsg.topic   =tokens[3];       //get device  name from topic  level 3 /v1.6/devices/tokens[3]\nvar dest    = tokens[tokens.length-1];\ninputjson   =JSON.parse(msg.payload);\nvar _fields = {};\nfor(var item in inputjson){\n    if (item.includes('Data') || item.includes(\"ts\")){}\n    else\n    {\n    _fields[item] = inputjson[item];}\n}\n\nvar tags = {\n            Mac: inputjson['Mac'],\n            esgeMAC: inputjson['edgeMAC']\n        } ;\n\nmsg.payload = [ \n    {        //device name as measurement\n        measurement: \"TLM_Data\",\n        tags,\n        fields: _fields\n    }\n    ];\n    \nreturn msg;","outputs":1,"noerr":0,"x":870,"y":160,"wires":[["8acb47f4.5155d8"]]},
{"id":"4b425dc7.05fe24","type":"switch","z":"e184de2d.f9883","name":"","property":"payload.f","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},
{"t":"eq","v":"1","vt":"str"},
{"t":"eq","v":"3","vt":"str"},
{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":505,"y":156,"wires":[["4672a641.6e33b8"],["42b4cd3a.5b1b64"],["c37f1e0d.fe8bf"],["c37f1e0d.fe8bf"]]},
{"id":"953817ff.3a4d08","type":"json","z":"e184de2d.f9883","name":"","property":"payload","action":"","pretty":false,"x":335,"y":156,"wires":[["4b425dc7.05fe24"]]},
{"id":"42b4cd3a.5b1b64","type":"json","z":"e184de2d.f9883","name":"","property":"payload","action":"","pretty":false,"x":710,"y":160,"wires":[["211dbd92.7c49e2"]]},
{"id":"fe884652.0b6638","type":"function","z":"e184de2d.f9883","name":"Ruuvi","func":"var tokens  = msg.topic.split(\"/\");\nmsg.topic   =tokens[3];       //get device  name from topic  level 3 /v1.6/devices/tokens[3]\nvar dest    = tokens[tokens.length-1];\ninputjson   =JSON.parse(msg.payload);\nvar _fields = {};\nfor(var item in inputjson){\n    if (item.includes('Data') || item.includes(\"ts\")){}\n    else\n    {\n    _fields[item] = inputjson[item];}\n}\n\nvar tags = {\n            Mac: inputjson['Mac'],\n            edgeMAC: inputjson['edgeMAC']\n        } ;\n\nmsg.payload = [ \n    {\n        measurement: \"Ruuvi_Data\" ,\n        tags,     //device name as measurement\n        fields: _fields\n    },\n    ];\n    \nreturn msg;","outputs":1,"noerr":0,"x":875,"y":196,"wires":[["955726d0.7886b8"]]},
{"id":"c37f1e0d.fe8bf","type":"json","z":"e184de2d.f9883","name":"","property":"payload","action":"","pretty":false,"x":715,"y":196,"wires":[["fe884652.0b6638"]]},
{"id":"14d5955a.a27f1b","type":"mqtt in","z":"e184de2d.f9883","name":"","topic":"home/+/beacon/#","qos":"0","datatype":"auto","broker":"20502e04.4f7d22","x":125,"y":156,"wires":[["24bbe690.ee84fa","953817ff.3a4d08"]]},
{"id":"24bbe690.ee84fa","type":"debug","z":"e184de2d.f9883","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":200,"wires":[]},
{"id":"429320e6.b803","type":"comment","z":"e184de2d.f9883","name":"MQTT2Influx","info":"","x":125,"y":56,"wires":[]},
{"id":"4672a641.6e33b8","type":"json","z":"e184de2d.f9883","name":"","property":"payload","action":"","pretty":false,"x":705,"y":116,"wires":[["911eb92c.6d5d18"]]},
{"id":"911eb92c.6d5d18","type":"function","z":"e184de2d.f9883","name":"Unknown","func":"var tokens  = msg.topic.split(\"/\");\nmsg.topic   =tokens[3];       //get device  name from topic  level 3 /v1.6/devices/tokens[3]\nvar dest    = tokens[tokens.length-1];\ninputjson   =JSON.parse(msg.payload);\nvar _fields = {};\nfor(var item in inputjson){\n    if (item.includes('Data') || item.includes(\"ts\")){}\n    else\n    {\n    _fields[item] = inputjson[item];}\n}\n\nvar tags = {\n            Mac: inputjson['Mac'],\n            esgeMAC: inputjson['edgeMAC']\n        } ;\n\nmsg.payload = [ \n    {        //device name as measurement\n        measurement: \"Unknown_Beacon\",\n        tags,\n        fields: _fields\n    }\n    ];\n    \nreturn msg;","outputs":1,"noerr":0,"x":875,"y":116,"wires":[["709f3350.75f02c"]]},
{"id":"955726d0.7886b8","type":"influxdb batch","z":"e184de2d.f9883","influxdb":"c598a3ff.40fa6","precision":"","retentionPolicy":"","name":"","x":1005,"y":196,"wires":[]},
{"id":"8acb47f4.5155d8","type":"influxdb batch","z":"e184de2d.f9883","influxdb":"52d8d338.02671c","precision":"","retentionPolicy":"","name":"TLM","x":1025,"y":156,"wires":[]},
{"id":"709f3350.75f02c","type":"influxdb batch","z":"e184de2d.f9883","influxdb":"6e88ee26.41e24","precision":"","retentionPolicy":"","name":"","x":1105,"y":96,"wires":[]},
{"id":"3369677a.74aeb8","type":"tab","label":"Pycom Board Health","disabled":false,"info":""},
{"id":"d5f9617.9a83aa","type":"mqtt in","z":"3369677a.74aeb8","name":"","topic":"home/240AC4024A6C/beacon/device/heartbeat","qos":"0","datatype":"auto","broker":"20502e04.4f7d22","x":300,"y":140,"wires":[["838beac4.749028"]]},
{"id":"159c5a5b.88b086","type":"mqtt in","z":"3369677a.74aeb8","name":"","topic":"home/240AC400DE4C/beacon/device/heartbeat","qos":"0","datatype":"auto","broker":"20502e04.4f7d22","x":302,"y":108,"wires":[["838beac4.749028"]]},
{"id":"57bb169f.99f248","type":"mqtt in","z":"3369677a.74aeb8","name":"","topic":"home/3C71BF877D24/beacon/device/heartbeat","qos":"0","datatype":"auto","broker":"20502e04.4f7d22","x":301,"y":223,"wires":[[]]},
{"id":"efa28f5b.1c22a","type":"comment","z":"3369677a.74aeb8","name":"SiPy's","info":"","x":160,"y":79,"wires":[]},
{"id":"fd6e9c8a.f1445","type":"function","z":"3369677a.74aeb8","name":"","func":"var tokens  = msg.topic.split(\"/\");\nmsg.topic   =tokens[3];       //get device  name from topic  level 3 /v1.6/devices/tokens[3]\nvar dest    = tokens[tokens.length-1];\ninputjson   =JSON.parse(msg.payload);\nvar _fields = {};\nfor(var item in inputjson){\n    if (item.includes('Data') || item.includes(\"ts\")){}\n    else\n    {\n    _fields[item] = inputjson[item];}\n}\n\nvar tags = {\n            edgeMac: inputjson['edgeMAC'],\n            boardType: inputjson['board']\n        } ;\n\nmsg.payload = [ \n    {\n        measurement: \"PycomHealth\",\n        tags,     //device name as measurement\n        fields: _fields\n    },\n    ];\n    \nreturn msg;","outputs":1,"noerr":0,"x":670,"y":340,"wires":[["29862159.36d95e"]]},
{"id":"78d8d0d4.b0bbe","type":"mqtt in","z":"3369677a.74aeb8","name":"","topic":"home/3C71BF877D48/beacon/device/heartbeat","qos":"0","datatype":"auto","broker":"20502e04.4f7d22","x":299,"y":256,"wires":[[]]},
{"id":"376672cd.39f14e","type":"comment","z":"3369677a.74aeb8","name":"WiPy's","info":"","x":158,"y":194,"wires":[]},
{"id":"6959ecf0.0a0614","type":"debug","z":"3369677a.74aeb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":260,"wires":[]},
{"id":"838beac4.749028","type":"debug","z":"3369677a.74aeb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":100,"wires":[]},
{"id":"9590589.0e58ea8","type":"mqtt in","z":"3369677a.74aeb8","name":"","topic":"home/+/beacon/device/heartbeat","qos":"0","datatype":"auto","broker":"20502e04.4f7d22","x":260,"y":340,"wires":[["6959ecf0.0a0614","fd6e9c8a.f1445"]]},
{"id":"29862159.36d95e","type":"influxdb batch","z":"3369677a.74aeb8","influxdb":"140e195f.cd0b67","precision":"","retentionPolicy":"","name":"","x":840,"y":340,"wires":[]},
{"id":"20502e04.4f7d22","type":"mqtt-broker","z":"","name":"Pi","broker":"192.168.69.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},
{"id":"c598a3ff.40fa6","type":"influxdb","z":"","hostname":"192.168.69.4","port":"8086","protocol":"http","database":"Ruuvi","name":"Ruuvi","usetls":false,"tls":"c01d971f.348e88"},
{"id":"52d8d338.02671c","type":"influxdb","z":"","hostname":"192.168.69.4","port":"8086","protocol":"http","database":"TLM","name":"","usetls":false,"tls":"c01d971f.348e88"},
{"id":"6e88ee26.41e24","type":"influxdb","z":"","hostname":"192.168.69.4","port":"8086","protocol":"http","database":"unknownBeacons","name":"UnknownBeacons","usetls":false,"tls":"c01d971f.348e88"},
{"id":"140e195f.cd0b67","type":"influxdb","z":"","hostname":"192.168.69.4","port":"8086","protocol":"http","database":"Pycom","name":"Pycom","usetls":false,"tls":"c01d971f.348e88"},
{"id":"c01d971f.348e88","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false}]