Node-RED Flows/ble2mqtt2influx.json
[{"id":"e184de2d.f9883","type":"tab","label":"BLE2MQTT2INFLUX","disabled":false,"info":""},{"id":"211dbd92.7c49e2","type":"function","z":"e184de2d.f9883","name":"TLM","func":"var tokens  = msg.topic.split(\"/\");\nmsg.topic   =tokens[3];       //get device  name from topic  level 3 /v1.6/devices/tokens[3]\nvar dest    = tokens[tokens.length-1];\ninputjson   =JSON.parse(msg.payload);\nvar _fields = {};\nfor(var item in inputjson){\n    if (item.includes('Data') || item.includes(\"ts\")){}\n    else\n    {\n    _fields[item] = inputjson[item];}\n}\n\nvar tags = {\n            Mac: inputjson['Mac'],\n            esgeMAC: inputjson['edgeMAC']\n        } ;\n\nmsg.payload = [ \n    {        //device name as measurement\n        measurement: \"TLM_Data\",\n        tags,\n        fields: _fields\n    }\n    ];\n    \nreturn msg;","outputs":1,"noerr":0,"x":870,"y":160,"wires":[["8acb47f4.5155d8"]]},{"id":"4b425dc7.05fe24","type":"switch","z":"e184de2d.f9883","name":"","property":"payload.f","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":505,"y":156,"wires":[["4672a641.6e33b8"],["42b4cd3a.5b1b64"],["c37f1e0d.fe8bf"],["c37f1e0d.fe8bf"]]},{"id":"953817ff.3a4d08","type":"json","z":"e184de2d.f9883","name":"","property":"payload","action":"obj","pretty":false,"x":335,"y":156,"wires":[["4b425dc7.05fe24"]]},{"id":"42b4cd3a.5b1b64","type":"json","z":"e184de2d.f9883","name":"","property":"payload","action":"","pretty":false,"x":710,"y":160,"wires":[["211dbd92.7c49e2"]]},{"id":"fe884652.0b6638","type":"function","z":"e184de2d.f9883","name":"Ruuvi","func":"var tokens  = msg.topic.split(\"/\");\nmsg.topic   =tokens[3];       //get device  name from topic  level 3 /v1.6/devices/tokens[3]\nvar dest    = tokens[tokens.length-1];\ninputjson   =JSON.parse(msg.payload);\nvar _fields = {};\nfor(var item in inputjson){\n    if (item.includes('Data') || item.includes(\"ts\")){}\n    else\n    {\n    _fields[item] = inputjson[item];}\n}\n\nvar tags = {\n            Mac: inputjson['Mac'],\n            edgeMAC: inputjson['edgeMAC']\n        } ;\n\nmsg.payload = [ \n    {\n        measurement: \"Ruuvi_Data\" ,\n        tags,     //device name as measurement\n        fields: _fields\n    },\n    ];\n    \nreturn msg;","outputs":1,"noerr":0,"x":875,"y":196,"wires":[["955726d0.7886b8"]]},{"id":"c37f1e0d.fe8bf","type":"json","z":"e184de2d.f9883","name":"","property":"payload","action":"","pretty":false,"x":710,"y":200,"wires":[["fe884652.0b6638"]]},{"id":"14d5955a.a27f1b","type":"mqtt in","z":"e184de2d.f9883","name":"","topic":"home/+/beacon/#","qos":"0","datatype":"auto","broker":"20502e04.4f7d22","x":125,"y":156,"wires":[["953817ff.3a4d08"]]},{"id":"429320e6.b803","type":"comment","z":"e184de2d.f9883","name":"BLE Data","info":"","x":115,"y":56,"wires":[]},{"id":"4672a641.6e33b8","type":"json","z":"e184de2d.f9883","name":"","property":"payload","action":"str","pretty":false,"x":705,"y":116,"wires":[["911eb92c.6d5d18"]]},{"id":"911eb92c.6d5d18","type":"function","z":"e184de2d.f9883","name":"Unknown","func":"var tokens  = msg.topic.split(\"/\");\nmsg.topic   =tokens[3];       //get device  name from topic  level 3 /v1.6/devices/tokens[3]\nvar dest    = tokens[tokens.length-1];\ninputjson   =JSON.parse(msg.payload);\nvar _fields = {};\nfor(var item in inputjson){\n    if (item.includes('Data') || item.includes(\"ts\")){}\n    else\n    {\n    _fields[item] = inputjson[item];}\n}\n\nvar tags = {\n            Mac: inputjson['Mac'],\n            esgeMAC: inputjson['edgeMAC']\n        } ;\n\nmsg.payload = [ \n    {        //device name as measurement\n        measurement: \"Unknown_Beacon\",\n        tags,\n        fields: _fields\n    }\n    ];\n    \nreturn msg;","outputs":1,"noerr":0,"x":875,"y":116,"wires":[["709f3350.75f02c"]]},{"id":"955726d0.7886b8","type":"influxdb batch","z":"e184de2d.f9883","influxdb":"c598a3ff.40fa6","precision":"","retentionPolicy":"","name":"","x":1130,"y":180,"wires":[]},{"id":"8acb47f4.5155d8","type":"influxdb batch","z":"e184de2d.f9883","influxdb":"52d8d338.02671c","precision":"","retentionPolicy":"","name":"TLM","x":1130,"y":140,"wires":[]},{"id":"709f3350.75f02c","type":"influxdb batch","z":"e184de2d.f9883","influxdb":"6e88ee26.41e24","precision":"","retentionPolicy":"","name":"","x":1105,"y":96,"wires":[]},{"id":"9eb65936.d6f5d8","type":"mqtt in","z":"e184de2d.f9883","name":"","topic":"home/linux/+/heartbeat","qos":"0","datatype":"auto","broker":"20502e04.4f7d22","x":140,"y":500,"wires":[["b6fa4ac1.642a68"]]},{"id":"48c1ea85.0f7de4","type":"comment","z":"e184de2d.f9883","name":"Linux Heartbeat","info":"","x":120,"y":440,"wires":[]},{"id":"b6fa4ac1.642a68","type":"function","z":"e184de2d.f9883","name":"","func":"var tokens  = msg.topic.split(\"/\");\nmsg.topic   =tokens[3];       //get device  name from topic  level 3 /v1.6/devices/tokens[3]\nvar dest    = tokens[tokens.length-1];\ninputjson   =JSON.parse(msg.payload);\nvar _fields = {};\nfor(var item in inputjson){\n    if (item.includes('Data') || item.includes(\"ts\")){}\n    else\n    {\n    _fields[item] = inputjson[item];}\n}\n\nvar tags = {\n            edgeMac: inputjson['edgeMAC']\n        } ;\n\nmsg.payload = [ \n    {\n        measurement: \"linuxHealth\",\n        tags,     //device name as measurement\n        fields: _fields\n    },\n    ];\n    \nreturn msg;","outputs":1,"noerr":0,"x":590,"y":500,"wires":[["93d146dc.416208"]]},{"id":"93d146dc.416208","type":"influxdb batch","z":"e184de2d.f9883","influxdb":"8c8b91a4.5b4f","precision":"","retentionPolicy":"","name":"","x":760,"y":500,"wires":[]},{"id":"20502e04.4f7d22","type":"mqtt-broker","z":"","name":"Pi","broker":"192.168.69.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c598a3ff.40fa6","type":"influxdb","z":"","hostname":"192.168.8.1","port":"8086","protocol":"http","database":"Ruuvi","name":"Ruuvi","usetls":false,"tls":"c01d971f.348e88"},{"id":"52d8d338.02671c","type":"influxdb","z":"","hostname":"192.168.8.1","port":"8086","protocol":"http","database":"TLM","name":"","usetls":false,"tls":"c01d971f.348e88"},{"id":"6e88ee26.41e24","type":"influxdb","z":"","hostname":"192.168.8.1","port":"8086","protocol":"http","database":"unknownBeacons","name":"UnknownBeacons","usetls":false,"tls":"c01d971f.348e88"},{"id":"8c8b91a4.5b4f","type":"influxdb","z":"","hostname":"192.168.8.1","port":"8086","protocol":"http","database":"linux","name":"linux","usetls":false,"tls":"c01d971f.348e88"},{"id":"c01d971f.348e88","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false}]